<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DelayedStockQuoteSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DelayedStockQuoteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx"
                binding="basicHttpBinding" bindingConfiguration="DelayedStockQuoteSoap"
                contract="ServiceReferenceQuotes.DelayedStockQuoteSoap" name="DelayedStockQuoteSoap" />
            <endpoint address="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx"
                binding="customBinding" bindingConfiguration="DelayedStockQuoteSoap12"
                contract="ServiceReferenceQuotes.DelayedStockQuoteSoap" name="DelayedStockQuoteSoap12" />
        </client>
    </system.serviceModel>
</configuration>